<h2 class="push-right"><%= @article.title %></h2><hr class="style-seven">
<div class="push-right">
<% if @article.revisions.length > 0 %>
  <p><%= @article.revisions.last.revised_content %></p>
<%else%>
    <p><%=sanitize @article.content%></p>
<%end%>

<p>
  <div class="col-sm-2  center-block ">
    <div class="col-sm-6">
<%= button_to "Back", category_path(@article.categories.first), method: "get", class: "btn btn-success" %>

    </div>
    <div class="col-sm-6">
<% if logged_in? %>
<%= button_to "Edit Article", edit_category_article_path(@article.categories.first, @article), method: "get", class: "btn btn-success" %>
<% end %>

    </div>

  </div>
</p>
</div>
