<div class="row content">

      <div class="container-fluid header-color">
        <ul class="nav navbar-nav">
            <li><%= link_to "Home", "/"  %></li>
              <% if logged_in? %>
                <li><%= link_to current_user.username  %></li>
                <li><%= link_to "Logout", logout_path  %></li>
              <% else %>
                <li><%= link_to "Login", login_path %></li>
                <li><%= link_to "Register", signup_path %></li>
              <% end %>
        </ul>
        <span class="navbar-brand title-header" id="nav-bar-center">🍌Banawiki🍌</span>
          <div id="float-right-search"
            <%= form_tag articles_path, :method => 'get' do %>
              <p>
                <%= text_field_tag :terms, params[:terms] %>
                <%= submit_tag "Search", :name => nil %>
              </p>
            <% end %>
          </div>
      </div>
</div>
