<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "application" %>

  <title>Bananas</title>

  <script src="//cdn.ckeditor.com/4.5.8/standard/ckeditor.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">



<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



  <%= csrf_meta_tags %>

</head>
<body>
<%= render partial: "layouts/header" %>
<%= render partial: "layouts/leftbar", locals: {categories: @categories} %>
<%= yield %>

</body>
</html>
