<h1>Login</h1>
<%= form_for '/login' do %>
   <% if @errors %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  Username: <%= text_field_tag :username %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>
