<div class="Category">
<h4><%=@category.name%></h4>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<ul>
  <% @category.articles.each do |article| %>
    <li><a href="/categories/<%=@category.id%>/articles/<%=article.id%>"><%= article.title %></a></li>
  <% end %>
</ul>
</div>
